version: '3.8'

services:
  app:
    build: .
    ports:
      - "5001:5001"
    environment:
      - DATABASE_URL=postgresql://gupshup_user:gupshup_password@db:5432/gupshup_db
    depends_on:
      - db
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=gupshup_db
      - POSTGRES_USER=gupshup_user
      - POSTGRES_PASSWORD=gupshup_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: